<% if current_user %>
    <%= link_to 'Sing out', destroy_user_session_path, method: :delete %>
<% else %> 
    <p>Please sign in</p>
    <%= link_to 'Sign in', new_user_session_path %>
    <p>Do not have an account?</p>
    <%= link_to 'Sign up', new_user_registration_path %>
<% end %> 
